In [1]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cuajinicuilapa,MX,2022-05-08 22:47:49,16.4667,-98.4167,89.62,44,76,9.55
1,1,Dingle,PH,2022-05-08 22:47:49,10.9995,122.6711,81.37,79,95,10.22
2,2,Saint-Joseph,RE,2022-05-08 22:47:50,-21.3667,55.6167,70.18,81,16,8.10
3,3,Punta Arenas,CL,2022-05-08 22:44:46,-53.1500,-70.9167,42.91,75,40,23.02
4,4,Cockburn Town,TC,2022-05-08 22:47:51,21.4612,-71.1419,82.36,74,40,5.75

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [13]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [14]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [25]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
dissipating=False, max_intensity=300, point_radius=4)


# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent wind

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cuajinicuilapa,MX,2022-05-08 22:47:49,16.4667,-98.4167,89.62,44,76,9.55
1,1,Dingle,PH,2022-05-08 22:47:49,10.9995,122.6711,81.37,79,95,10.22
4,4,Cockburn Town,TC,2022-05-08 22:47:51,21.4612,-71.1419,82.36,74,40,5.75
6,6,Rikitea,PF,2022-05-08 22:47:52,-23.1203,-134.9692,76.42,77,71,18.86
7,7,Tawau,MY,2022-05-08 22:47:52,4.2498,117.8871,78.93,94,100,6.02
16,16,Cabedelo,BR,2022-05-08 22:47:57,-6.9811,-34.8339,77.67,79,99,13.24
28,28,Atuona,PF,2022-05-08 22:48:03,-9.8000,-139.0333,78.71,75,1,15.03
30,30,Kapaa,US,2022-05-08 22:48:04,22.0752,-159.3190,80.58,77,75,12.66
35,35,Alyangula,AU,2022-05-08 22:48:07,-13.8483,136.4192,80.47,89,100,4.61
48,48,Puerto Ayora,EC,2022-05-08 22:49:14,-0.7393,-90.3518,78.76,80,50,8.48

In [31]:
#Check for null values

preferred_cities_df.count()

City_ID       152
City          152
Country       152
Date          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0   Cuajinicuilapa      MX     89.62  16.4667  -98.4167
1           Dingle      PH     81.37  10.9995  122.6711
4    Cockburn Town      TC     82.36  21.4612  -71.1419
6          Rikitea      PF     76.42 -23.1203 -134.9692
7            Tawau      MY     78.93   4.2498  117.8871
16        Cabedelo      BR     77.67  -6.9811  -34.8339
28          Atuona      PF     78.71  -9.8000 -139.0333
30           Kapaa      US     80.58  22.0752 -159.3190
35       Alyangula      AU     80.47 -13.8483  136.4192
48    Puerto Ayora      EC     78.76  -0.7393  -90.3518

In [33]:
# Set parameters to search for a hotel.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [38]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [48]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)


info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]


# Call the figure to plot the data.
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))